@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=GFS+Didot&family=Open+Sans:wght@300;600&display=swap');
.banner-image {
    background-image: url(img/banner-img.jpg);
    background-size: cover;
    height: 400px;
    object-position: 50% 0;
}

.text-white {
    font-family: 'DM Sans', sans-serif;
}

.h1-title {
    font-family: 'GFS Didot', serif;
    font-size: 45px;
    color: white;
    letter-spacing: 10px;
    animation: text 3s 1;
}

@keyframes text {
    0% {
        color: grey;
        margin: -40px;
    }
    30%{
        letter-spacing: 10px;
        margin-bottom: -40px;
    }
}

.text-align {
    text-align: justify;
}

.subtitle-nav {
    letter-spacing: 5px;
}

.card-text {
    font-size: 15px;
    color: rgb(225, 228, 230);
}

.img-nolan {
    height: 300px;
    justify-content: center;
}

.img-zimmer {
    justify-content: center;
}

.form-button {
    background-color: #8aa6bf;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
}

.form-button:hover {
    background-color: #295773;
}
