@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.banner-image {
     background-image: url(img/banner-img.jpg);
     background-size: cover;
}

.text-white {
    font-family: 'DM Sans', sans-serif;
}
